
# ORDER API SOLUTION
DemoECommerce.OrderApiSolution/*/bin/
DemoECommerce.OrderApiSolution/*/obj/
# ----------------------------------------------------------------------

# PRODUCT API SOLUTION
DemoECommerce.ProductApiSolution/*/bin/
DemoECommerce.ProductApiSolution/*/obj/

# ----------------------------------------------------------------------

# AUTHENTICATION API SOLUTION
DemoECommerce.AuthenticationApiSolution/*/bin/
DemoECommerce.AuthenticationApiSolution/*/obj/

# ----------------------------------------------------------------------

# SHARED LIBRARY SOLUTION

DemoECommerce.SharedLibrarySolution/*/bin/
DemoECommerce.SharedLibrarySolution/*/obj

# ----------------------------------------------------------------------

# API GATEWAY SOLUTION
DemoECommerce.ApiGatewaySolution/*/bin/
DemoECommerce.ApiGatewaySolution/*/obj/


*/.vs
.vscode