
# ORDER API SOLUTION
DemoECommerce.OrderApiSolution/*/bin/
DemoECommerce.OrderApiSolution/*/obj/
# ----------------------------------------------------------------------

# PRODUCT API SOLUTION
DemoECommerce.ProductApiSolution/*/bin/
DemoECommerce.ProductApiSolution/*/obj/

# ----------------------------------------------------------------------

# AUTHENTICATION API SOLUTION
DemoECommerce.AuthenticationApiSolution/*/bin/
DemoECommerce.AuthenticationApiSolution/*/obj/

# ----------------------------------------------------------------------

# SHARED LIBRARY SOLUTION
# shared library

DemoECommerce.SharedLibrarySolution/*/bin/
DemoECommerce.SharedLibrarySolution/*/obj


*/.vs